.flashes {
    position: fixed;
}

.container.actions {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.card.image {
    width: 20rem;
    padding-bottom: 5rem
}

.card img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    width: auto;
}

#canvas {
    position: absolute;
}

.card.image .card-body {
    position: absolute;
    bottom: 0;
}