{% extends 'ui/layout.html' %}
{% import 'ui/image.html' as IMAGE %}
{% block scripts %}
    <script src="/static/js/details.js"></script>
{% endblock %}
{% block description %}
    <p class="lead text-muted">
      Image {{ image['image_file_name'] }} details.
    </p>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card">
            <img id="image" data-src="{{ url_for('ui.image', image_id=image['image_id']) }}"
                 alt="{{ image['image_file_name'] }}">
            <canvas id="canvas"></canvas>
            <script id="annotations" type="application/json">
                {% if image['image_annotations'] %}
                {{ image['image_annotations']|tojson }}
                {% endif %}
            </script>
        </div>
        <div>
            {{ IMAGE.image_annotations(image) }}
        </div>
    </div>
{% endblock %}