{% extends "ui/layout.html" %}
{% import 'ui/image.html' as IMAGE %}
{% block description %}
    <p class="lead text-muted">
      Image hosting application that additionally performs computer vision analysis via the Google Vision API
      and provides a visual report on the uploaded photos showing what information was found.
    </p>
{% endblock %}
{% block content %}

    <div class="container actions">
        <a href="{{ url_for('ui.image_upload') }}" class="btn btn-primary">Upload an image</a>
    </div>

    <div class="container images">
        <div class="row">
            {% for image in images %}
            {{ IMAGE.image_card(image) }}
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="deleteImageModal" tabindex="-1" role="dialog"
         aria-labelledby="deleteImageModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteImageModalLabel">Delete image</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete selected image?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" id="deleteImageButton" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}